.restaurant body { margin: 20px; }

/*.triangle {*/
    /*width: 0; height: 0;*/
    /*border-top: 55px solid #ea6c6c;*/
    /*border-right: 55px solid transparent;*/
/*}*/

/*.box {*/
    /*position: relative;*/
    /*width: 315px;*/
    /*height: 160px;*/
    /*background: #f0f7fa;*/
    /*border-radius: 10px;*/
    /*overflow: hidden;*/
/*}*/

/*.triangle > span {*/
    /*position: absolute; top: 7px;*/
    /*transform: rotate(-45deg);*/
    /*font-size: 18px; color: white;*/
/*}*/