// GRAYS -- BASE --
$gray-darkest:          #252729; //anchorage
$gray-darker:           #575757; //london
$gray-deprecated:       #808080; //detroit
$gray:                  #C2C2C2; //portland
$gray-background:       #E0E0E0;
$gray-lighter:          #EAEBEC; //pittsburgh
$gray-lightest:         #F4F4F6; //syracuse

//RAINBOWS -- USABLE --
$brand-yellow:          $miami;
$brand-green:           #5CB85C;
$brand-blue:            $stockholm;
$brand-orange:          #F0AD4E;
$brand-red:             $death-valley;
$brand-red-accent:      #BA1E12;

//RAINBOWS -- USABLE --  Bootstrap
/* Use these to make and switch between themes*/
$brand-primary:         $gray-darkest;
$brand-secondary:       $brand-yellow;
$brand-success:         $brand-green;
$brand-info:            $brand-blue;
$brand-warning:         $brand-orange;
$brand-danger:          $brand-red;


//RAINBOWS -- USABLE --  Hover
$brand-primary-hover:   $gray-darker;
$brand-secondary-hover: #EEC385;
$brand-success-hover:   darken($brand-success, 10%);
$brand-info-hover:      darken($brand-info, 10%);
$brand-warning-hover:   darken($brand-warning, 10%);
$brand-danger-hover:    darken($brand-danger, 10%);

$form-field-grey:       #EAEBEC;
$form-field-grey-hover: #E0E0E0;
$form-field-grey-focus: #C2C2C2;

$gray-100:    #282829;
$black:       #252729;
$yellow:      #DAC229;

$link-color: #5499C3;

$white: #FFFFFF



html {
  font-family: Proxima Nova W01,Helvetica Neue,Calibri,Roboto,sans-serif;
}

.col {
  position: relative;
}

.responsive-image {
  width: 100%;
  max-width: 100%;
}

.reverse-grid {
  flex-direction: row-reverse;
  &.row .col:nth-child(1n){
    margin-right: 0;
    margin-left: 30px;
    &:last-child {
      margin-left: 0;
    }
  }
}

.oui-container {
  padding: 0;

  .oui-container__tabs {
    margin: 0 auto;
  }
}

.oui-card {
  padding: 0;
}

.hidden-mobile {

  @include media-sm {
    display: none;
  }
}

.hidden-desktop {
  display: none;
  @include media-sm {
    display: initial;
  }
}

.oui-button {
  font-weight: 600;
  border-radius: 2px;
  padding: 12.5px 30px;
  &:focus {
    outline: none;
  }

  &_outline {
    border-color: #000;
    color: #000;
  }
}

.oui-button_shout-outline {
  &:hover, &:focus {
    background-color: $gray-lighter;
    border-color: $gray-darker;
    color: $gray-lightest;
  }

  &:active {
    background-color: $gray-lighter;
    border-color: $gray-lightest;
    color: $gray-lightest;
  }

}

.oui-button {

  &_loading {
    background: image-url('loader.svg') no-repeat center;
    color: transparent;
    pointer-events: none;

    &:hover, &:active, &:focus {
      color: transparent;
    }
    &.oui-button_shout {
      background-color: $brand-secondary-hover;
      border-color: $brand-secondary-hover;
    }
  }
}
.oui-button_outline.oui-button_loading {
  background-image: image-url('loader-inverse.svg');
}

.oui-button_shout-outline {
  color: black;
  border-color: black;
}

.oui-form label[for] {
  cursor: pointer;
}

.oui-form__flash-msg {
  @extend .oui-form__error-msg;
  color: green;
}

.oui-form__msg {
  @extend .oui-form__error-msg;
  color: black;
}

.oui-form__label-section {
  font-size: 16px;
  line-height: 22px;
  margin: 32px 0 26px 0;
}

.oui-form__label--full {
  display: block;
  text-align: left;
}

.oui-form {
  font-size: 14px;
  font-weight: 300;
}

.oui-form__field_full {
  .oui-form__input, .oui-form__select {
    width: 100%;
    display: block;
    resize: none;
    border-radius: 2px;
    height: 40px;

    &:focus {
      border-color: #000;
    }
  }
  textarea.oui-form__input {
    height: 90px;
  }
}

.oui-form__field {
  input, textarea, select {
    border: 1px solid $form-field-grey;

    &:focus {
      border-color: $form-field-grey-focus;
    }

    &:hover {
      border-color: $form-field-grey-hover;
    }
  }
}

.oui-form__field_labeled {
  label {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
  }
  margin-bottom: 20px;
}

.oui-form__field {
  input, textarea, select {
    border: 1px solid #EAEBEC;
  }
}

.oui-form__field:last-child {
  margin-bottom: 0;
}

.oui-navbar {

  @include media-sm {
    min-height: 0;
  }

  .oui-navbar__logo {
    background-image: asset_data_url('we-work-logo.svg');
    height: 28px;
    width: 122px;
    margin-left: 0;
  }
}

.oui-tabbar {
  background-color: white;

  > .oui-container {
    display: flex;
    margin: auto;
  }

  .oui-container {
    margin: auto;
  }

  @include media-sm {
    background-color: $gray-100;
  }
  a {
    color: black;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 0 15px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;

    &:last-child{
      margin-right: 0;
    }

    @include media-sm {
      font-size: 11px;
      font-weight: 500;
      padding: 0 5px;
      margin-right: 10px;
      letter-spacing: 1px;
      color: #808080;
      &.active {
        color: $yellow;
      }
    }

    &.active {
      border-bottom: 4px solid $yellow;
    }
  }
}

.oui-form__select_placeholder select {
  color: #767679;
  option {
    color: black;
  }
}

.oui-form__checkbox {
  display: none;
  & + label {
    &:before {
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #ADADAD;
      content: '';
      display: inline-block;
      margin-right: 8px;
      position: relative;
      top: 2px;
    }
  }
  &:checked + label {
    &:before {
      background: image-url('checkmark-icon.svg') no-repeat 50% 50%;
    }
  }
}

.oui-form__text {
  font-size: 12px;
  line-height: 15px;
  color: black;
  a {
    color: #9d9d9d;
    text-decoration: underline;
  }
}

.u-text-larger {
  font-size: 16px;
}

.u-text-medium {
  font-size: 14px;
}

.u-text-small {
  font-size: 11px;
  margin-bottom: 20px;
}

.u-link-underline {
  color: $link-color;
  margin-left: 2px;
}

.text-capitalized {
  text-transform: capitalize;
}

.oui-table {
  thead {
    background: $gray-100;
    color: $white;
    text-align: left;
  }
  tbody {
    tr:nth-child(2n) {
      background: $gray-lightest;
    }
  }
  td,th {
    padding: 6px;
  }
  &-fullwidth {
    width: 60vw;
  }
}

.oui-form__select {
  padding-right: 40px;
}
.oui-form_inverse {
  background-color: $gray-darkest;
  .oui-form__select {
    background: rgba(255,255,255,0.15);
    color: white;
    min-width: 150px;
    &-wrapper {
      position: relative;
      &:hover {
        &:before {
          border-color: $yellow transparent;
        }
      }
      &:before {
        display: block;
        content: '';
        position: absolute;
        z-index: 3;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 0;
        border-color: white transparent transparent transparent;
        right: 14px;
        top: 17px;
      }

    }

  }

}

.oui-label {
  padding: 2px 4px;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 15px;
  font-size: xx-small;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


.oui-flash {
  background: #FFFFFF;
  box-shadow: 0px 6px 7px 0px rgba(36,39,40,0.16);
  position: relative;
  width: 100%;
  font-size: 16px;
  color: $gray-darkest;
  line-height: 24px;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1;
  .oui-container {
    width: 100%;
  }

  a {
    color: $yellow;
  }

  &__close {
    float: right;
    cursor: pointer;
    position: relative;
    top: 2px;
    @extend .icon-close;
  }

  .icon-profile {
    mask: asset-data-url('profile.svg');
    mask-size: 100%;
    background: $gray-darkest;
    margin-right: 20px;
    position: relative;
    top: 4px;
  }
}

.oui-card {
  padding: 0px;
}

